@use "../../styles" as *;

.score {
  @include standartBlock($direction: row, $width: 35%, $justify: flex-start);
  //gap: 2em;

  @media screen and (max-device-width: $tablet) and (max-aspect-ratio: 1.4/1) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__board {
    display: flex;
    position: relative;
    width: 45%;
    //align-items: center;
    gap: 0.5em;

    @media screen and (max-device-width: $notepad) and (min-aspect-ratio: 1.4/1) {
      font-size: 0.8em;
    }

    @media screen and (max-device-width: $tablet) and (min-aspect-ratio: 1.4/1) {
      font-size: 0.6em;
    }

    &__title {
      font-size: 1.3em;
    }

    span {
      font-size: 1.3em;
      font-weight: 500;
      //color: $btnBackgroundColor;
    }
  }
}
