@use "../../styles" as *;

.food {
  position: absolute;
  width: 2.8vw;

  @media screen and (max-device-width: $notepad) and (max-aspect-ratio: 1.4/1) {
    width: 6.5vw;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
